<nav class="nav-bar" aria-label="Main Navigation">
	<label for="hamburger">Menu &#x2630;</label>
	<input id="hamburger" type="checkbox"/>
	<ul id="internal-navigation-list" class="flexed-ul">
	    <li><a href="{{ get_url(path='') }}">Home</a></li>
    
            <li class="dropdown">
                <button class="dropdown-title">About</button>
                <ul class="dropdown-content">
	            <li><a href="{{ get_url(path='@/the_yac.md') }}">The YAC</a></li>
	            <li><a href="{{ get_url(path='@/our_mission.md') }}">Our Mission</a></li>
                </ul>
	    </li>

            <li class="dropdown">
                <button class="dropdown-title">Partners &amp; Projects</button>
                <ul class="dropdown-content">
            	    <li><a href="{{ get_url(path='@/org_directory.md') }}">Org Directory</a></li>
            	    <li><a href="{{ get_url(path='@/greeters.md') }}">Community Greeters</a></li>
            	    <li><a href="{{ get_url(path='@/movement_library.md') }}">MV Solidarity Library</a></li>
            	    <li><a href="{{ get_url(path='@/zine_library.md') }}">The Guillo-Zine Project</a></li>
            	    <li><a href="{{ get_url(path='@/get_narcan.md') }}">NARCAN Distribution</a></li>
            	    <li><a href="{{ get_url(path='@/garden.md') }}">Community Garden</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <button class="dropdown-title">Events</button>
	        <ul class="dropdown-content">
                    <li><a href="{{ get_url(path='@/calendar.md') }}">Calendar</a></li>
                    <li><a href="{{ get_url(path='@/events.md') }}">Featured Events</a></li>
                </ul>
	    </li>
                
            <li><a href="{{ get_url(path='@/get_involved.md') }}">Get Involved</a></li>
            
            <li class="dropdown">
                <button class="dropdown-title">Donate</button>
                <ul class="dropdown-content">
                    <li><a href="https://opencollective.com/youngstown-action-center">OpenCollective</a></li>
                    <li><a href="https://www.amazon.com/hz/wishlist/ls/3V4BV6JF6ZXKI?ref_=wl_share">Amazon Wishlist</a></li>
                </ul>
            </li>

            <li><a href="{{ get_url(path='@/contact.md') }}">Contact Us</a></li>
	</ul>
	<ul class="socials-list">
            <li><a href="#"><img src="/bsky_logo.svg" width="35px"></a></li>
            <li><a href="#"><img src="/fb_logo.svg" width="35px"></a></li>
            <li><a href="#"><img src="/insta_logo.svg" width="35px"></a></li>
	</ul>
</nav>
