<nav class="nav-bar">
    <ul>

        <li><div class="dropdown">
            <button class="dropbtn"><a href="{{ get_url(path='') }}">Home</a></button>
            </div></li>
    
        <li><div class="dropdown">
            <button class="dropbtn">About</button>
            <div class="dropdown-content">
                <a href="{{ get_url(path='@/the_yac.md') }}">The YAC</a>
                <a href="{{ get_url(path='@/our_mission.md') }}">Our Mission</a>
            </div>
            </div>

        <li><div class="dropdown">
            <button class="dropbtn">Partners & Projects</button>
            <div class="dropdown-content">
                <a href="{{ get_url(path='@/org_directory.md') }}">Org Directory</a>
                <a href="{{ get_url(path='@/greeters.md') }}">Community Greeters</a>
                <a href="{{ get_url(path='@/movement_library.md') }}">MV Solidarity Library</a>
                <a href="{{ get_url(path='@/zine_library.md') }}">The Guillo-Zine Project</a>
                <a href="{{ get_url(path='@/get_narcan.md') }}">NARCAN Distribution</a>
                <a href="{{ get_url(path='@/garden.md') }}">Community Garden</a>
            </div>
            </div>

        <li><div class="dropdown">
            <button class="dropbtn">Events</button>
            <div class="dropdown-content">
                <a href="{{ get_url(path='@/calendar.md') }}">Calendar</a>
                <a href="{{ get_url(path='@/events.md') }}">Featured Events</a>
            </div>
            </div>
            
        <li><div class="dropdown">
            <button class="dropbtn"><a href="{{ get_url(path='@/get_involved.md') }}">Get Involved</a></button>
            </div></li>
        
        <li><div class="dropdown">
            <button class="dropbtn">Donate</button>
            <div class="dropdown-content">
                <a href="https://opencollective.com/youngstown-action-center">OpenCollective</a>
                <a href="https://www.amazon.com/hz/wishlist/ls/3V4BV6JF6ZXKI?ref_=wl_share">Amazon Wishlist</a>
            </div>
            </div>

        <li><div class="dropdown">
            <button class="dropbtn"><a href="{{ get_url(path='@/contact.md') }}">Contact Us</a></button>
            </div></li>

        <div><ul style="padding-left: 75px; padding-top: 10px;">
            <li><a href="#"><img src="/bsky_logo.svg" width="35px"></a></li>
            <li><a href="#"><img src="/fb_logo.svg" width="35px"></a></li>
            <li><a href="#"><img src="/insta_logo.svg" width="35px"></a></li>
        </ul></div>

    </ul>
</nav>
