body {
    background-color: #9fb991;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: Garamond, serif;
    font-size: 1.1rem;
    line-height: 1.7rem;
}

ul {
    margin: 0;
    padding: 0;
}

.header-container {
    position: relative;
}

.pride-banner {
    height: 100px;
    z-index: -1;
    position: absolute;
    width: 100vw;
    top: 3.5rem;
    left: -2%;
}

.nav-bar {
    position: relative;
    background-color: #231f20;
    color: white;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-bottom: 1.3rem;
    border-radius: 13px;
    box-shadow: 0 7px 13px #636f5c;
}

.nav-bar ul {
    display: block;
    margin: 0;
    padding: 0;
}

.nav-bar li {
    font-weight: bold;
    list-style: none;
}

.nav-bar li > a {
    display: flex;
    padding-right: 1rem;
}

.nav-bar li + li {
    margin-top: 1rem;
}

.nav-bar a:link {
    text-decoration: inherit;
    color: white;
}

.nav-bar a:visited {
    text-decoration: inherit;
    color: white;
}

img {
    max-width: 100%;
}

p > img {
    margin-top: 1rem;
}

.nav-divider {
    display: none;
}

a:visited {
    color: #003c00;
}

a:link {
    color: #005b00;
}

.downstyle-anchor {
    text-decoration: inherit !important;
    color: inherit !important;
}

h2, h3, h4, h5, h6 {
    margin: 1.3rem;
}

h1 {
    background-color: #f0eee6;
    padding: 2.5rem;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3rem;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 13px;
    text-align: center;
    overflow-x: auto;
    box-shadow: 0 7px 13px #636f5c;
}

.panel {
    overflow: hidden;
    background-color: #f0eee6;
    margin-bottom: 1.3rem;
    border-radius: 13px;
    text-align: center;
    box-shadow: 0 7px 13px #636f5c;
}

div.panel-header-group h2, h3, h4, h5, h6 {
    margin-top: 0.6rem;
}

.panel-header-group {
    padding: 0.7rem;
    background-color: #5d6a5a;
    margin-bottom: 0.7rem;
    color: white;
}

.panel-content {
    padding: 1.3rem;
}

h2.shrink-on-mobile {
    font-size: 1.1rem;
}

@media only screen and (min-width: 440px) {
    h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
    h2.shrink-on-mobile {
        font-size: 1.6rem;
    }
}

@media only screen and (min-width: 601px) {
    body {
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .pride-banner {
        left: -33.33%;
    }
    .nav-bar ul {
        display: flex;
        flex-wrap: wrap;
        row-gap: 1rem;
    }
    .nav-bar li {
        display: flex;
        flex-wrap: wrap;
        margin-right: 1rem;
    }
    .nav-bar li + li {
        margin-top: 0;
    }
    .nav-divider {
        display: block;
    }
}

@media only screen and (min-width: 1376px) {
    h1 {
        width: 49rem;
    }
    .pride-banner {
        left: 0;
        width: 100%;
        top: 1.5rem;
    }
}
