body {
    background-color: #a6c27b;
    font-family: Arial;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.1rem;
    line-height: 1.7rem;
}

ul {
    margin: 0;
    padding: 0;
}

.header-container {
    position: relative;
}

.pride-banner {
    height: 100px;
    z-index: -1;
    position: absolute;
    width: 100vw;
    left: -2%;
    top: 30px;
}

.nav-bar {
    position: relative;
    background-color: #231f20;
    color: white;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-bottom: 1.3rem;
    border-radius: 13px;
    box-shadow: 0 7px 13px #636f5c;
}

.nav-bar ul {
    display: block;
    margin: 0;
    padding: 0;
}

.nav-bar li {
    list-style: none;
}

.nav-bar li > a {
    display: flex;
    padding-right: 1rem;
}

.nav-bar li + li {
    margin-top: 1rem;
}

.nav-bar a:link {
    text-decoration: inherit;
    color: white;
}

.nav-bar a:visited {
    text-decoration: inherit;
    color: white;
}

img {
    max-width: 100%;
}

p > img {
    margin-top: 1rem;
}

.nav-divider {
    display: none;
}

a:visited {
    color: #003c00;
}

a:link {
    color: #005b00;
}

.downstyle-anchor {
    text-decoration: inherit !important;
    color: inherit !important;
}

h2, h3, h4, h5, h6 {
    margin: 1.3rem;
}

h1 {
    background-color: #f0eee6;
    padding: 2.5rem;
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 2.2rem;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 13px;
    text-align: center;
    overflow-x: auto;
    box-shadow: 0 7px 13px #636f5c;
}

.panel {
    overflow: hidden;
    background-color: #f0eee6;
    margin-bottom: 1.3rem;
    border-radius: 13px;
    text-align: center;
    box-shadow: 0 7px 13px #636f5c;
}

div.panel-header-group h2, h3, h4, h5, h6 {
    margin-top: 0.6rem;
}

.panel-header-group {
    padding: 0.7rem;
    background-color: #5d6a5a;
    margin-bottom: 0.7rem;
    color: white;
}

.panel-content {
    padding: 1.3rem;
}

h2.shrink-on-mobile {
    font-size: 1.1rem;
}

@media only screen and (min-width: 374px) {
    h2.shrink-on-mobile {
        font-size: 1.6rem;
    }
    h1 {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
}

@media only screen and (min-width: 601px) {
    body {
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .pride-banner {
        left: -33.33%;
        top: 30px;
    }
    .nav-bar ul {
        display: flex;
        flex-wrap: wrap;
        row-gap: 1rem;
    }
    .nav-bar li {
        display: flex;
        flex-wrap: wrap;
    }
    .nav-bar li + li {
        margin-top: 0;
    }
    .nav-divider {
        display: block;
    }
}

@media only screen and (min-width: 1026px) {
    .pride-banner {
        top: 10px;
    }
}

@media only screen and (min-width: 1376px) {
    h1 {
        width: 36rem;
    }
    .pride-banner {
        left: 0;
        width: 100%;
    }
}

@media only screen and (min-width: 1660px) {
    h1 {
        font-size: 3rem;
        width: 44rem;
    }






}

 /* Dropdown Button */
.dropbtn {
  background-color: #231f20;
  color: white;
  padding: 16px;
  font-size: inherit;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #5d6a5a;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;} 

