body {
    background-color: #9fb991;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: Garamond, serif;
}

.logo {
    background-color: #EC1F27;
}

#logo {
    margin-left: 10px;
}

ul {
    margin: 0;
    padding: 0;
}

.nav-bar {
    position: relative;
    background-color: #231f20;
    color: white;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 13px;
}

.nav-bar ul {
    display: block;
    margin: 0;
    padding: 0;
}

.nav-bar li {
    font-weight: bold;
    list-style: none;
}

.nav-bar li > a {
    display: flex;
    padding-right: 1rem;
}

.nav-bar li + li {
    margin-top: 1rem;
}

.nav-bar a:link {
    text-decoration: inherit;
    color: white;
}

.nav-bar a:visited {
    text-decoration: inherit;
    color: white;
}

img {
    max-width: 100%;
}

p > img {
    margin-top: 1rem;
}

.nav-divider {
    display: none;
}

a:visited {
    color: #003c00;
}

a:link {
    color: #005b00;
}

.downstyle-anchor {
    text-decoration: inherit !important;
    color: inherit !important;
}

.header-group {
    padding: 0.7rem;
    background-color: #5d6a5a;
    margin-bottom: 0.7rem;
    color: white;
}

h1 {
    background-color: #f0eee6;
    padding: 1.3rem;
    font-weight: bold;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0.1rem;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    border-radius: 13px;
    text-align: center;
    overflow-x: auto;
}

.text-container {
    overflow: hidden;
    background-color: #f0eee6;
    margin-top: 2rem;
    border-radius: 33px;
    text-align: center;
    box-shadow: 0 10px black, 0 -10px black;
    padding-bottom: 0.3rem;
}

.text-container:first-child h2, h3, h4, h5, h6 {
    margin-top: 0
}

.text-container p {
    padding-left: 2rem;
    padding-right: 2rem;
}

h2.shrink-on-mobile {
    font-size: 1.1rem;
}

@media only screen and (min-width: 1376px) {
    h1 {
        width: 49rem;
    }
}

@media only screen and (min-width: 601px) {
    body {
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .nav-bar ul {
        display: flex;
        flex-wrap: wrap;
        row-gap: 1rem;
    }
    .nav-bar li {
        display: flex;
        flex-wrap: wrap;
        margin-right: 1rem;
    }
    .nav-bar li + li {
        margin-top: 0;
    }
    .nav-divider {
        display: block;
    }
}

@media only screen and (min-width: 440px) {
    h1 {
        font-size: 4rem;
    }
    h2.shrink-on-mobile {
        font-size: 1.6rem;
    }
}
