<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Online presence of the Youngstown Action Center">
  <meta name="keywords" content="solidarity, youngstown, yac, community, diy">
  <link rel="stylesheet" href="/site.css">
  <title>{% block title %}{{ config.title }}{% endblock %}</title>
</head>

<body>
  <section class="section">
    <div class="container">
      {% block header %}<h1>{{ config.title }}</h1>{% endblock %}
      {% include "include/nav.html" %}
      {% block content %}
      {% endblock %}
    </div>
  </section>
</body>
</html>
