<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/site.css">
  <title>Youngstown Action Center</title>
</head>

<body>
  <section class="section">
    <div class="container">
      {% block content_outer %}
  	  {% endblock %}
      <div class="content">
        {% block content_inner %}
        {% endblock %}
      </div>
    </div>
  </section>
  {% include "include/nav.html" %}
</body>
</html>
