{% extends "base.html" %}

{% block title %}{{ section.title }}{% endblock %}
{% block header %}<h1>{{section.title}}</h1>{% endblock %}

{% block content %}

<div class="text-container">
    {{ section.content | safe }}
</div>

<!--Change the path here to set a different featured newsletter-->
{% set page = get_page(path="newsletter/1/index.md") %}
<div class="text-container">
    <div class="header-group">
        <h2><i>Featured Newsletter</i></h2>
        <h2>
            <a href="{{ page.path }}" class="downstyle-anchor">{{ page.title }}</a>
        </h2>
        {{ page.date }}
    </div>
    {{ page.content | safe }}
</div>
{% endblock content %}
